<main class="row row-center add-to-menu">
   <h1>Add items to Menu</h1>

   <section class="form-container add-to-menu-form">
      <form>
         <input class="form-paraiso input-xl" id="section" type="text" placeholder="type of food">
         <input class="form-paraiso input-xl" id="item" type="text" placeholder="add item">
         <input class="form-paraiso input-xl" id="descrip" type="text" placeholder="add description">
         <input class="form-paraiso input-xl" id="price" type="text" placeholder="add price">
         <button type="submit" class="add-item button-orange">add item</button>
      </form>
   </section>
</main>