<main class="container">
   <h1>Add items to Menu</h1>

   <section class="form-container">
      <form id="add-to-menu">
         <input class="form-paraiso" id="section" type="text" placeholder="type of food">
         <input class="form-paraiso" id="item" type="text" placeholder="add item">
         <input class="form-paraiso" id="descrip" type="text" placeholder="add description">
         <input class="form-paraiso" id="price" type="text" placeholder="add price">
         <button type="submit" class="button add-item">add item</button>
      </form>
   </section>
</main>