<div class="row row-center">
   <div class="login-form">
      <h2>Login Form</h2>
      <form class="login">
         <div class="form-group input-field">
            <input type="email" class="form-control input-xl" id="email-input" placeholder="email">
         </div>
         <div class="form-group input-field">
            <input type="password" class="form-control input-xl" id="password-input" placeholder="password">
         </div>
      <button type="submit" class="button-orange">Login</button>
      </form>
      
      <p>Or sign up <a href="/signup">here</a></p>
   </div>
</div>