<main class="comm-control">
   <h1>Command Control</h1>
   <h3>What would you like to do?</h3>

   <section class="row">
      <div class="col">
         <p>View your menu</p>
         <a class="button-orange" href="/view-menu">view</a>
      </div>

      <div class="col">
         <p>Add an item</p>
         <a class="button-orange" href="/add-to-menu">add</a>
      </div>
   </section>
</main>