   <main>
      <h1>Command Control</h1>
      <h3>What would you like to do?</h3>

      <section class="crud">
         <div class="crud-button">
            <p>View your menu</p>
            <a href="/view-menu">view</a>
         </div>

         <div class="crud-button">
            <p>Add an item</p>
            <a href="/add-to-menu">add</a>
         </div>
      </section>
   </main>