<div class="row row-center">
	<div class="col-6 login-form">
		<h2>Sign Up Form</h2>
		<form class="signup">
			<div class="form-group input-field">
				<input type="email" class="form-control input-xl" id="email-input" placeholder="email">
			</div>
			<div class="form-group input-field">
				<input type="password" class="form-control input-xl" id="password-input" placeholder="password">
			</div>
			<div style="display: none" id="alert" class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span> <span class="msg"></span>
			</div>
			<button type="submit" class="button-orange">Sign Up</button>
		</form>
		
		<p>Or log in <a href="/login">here</a></p>
	</div>
</div>