* {
   box-sizing: border-box;
}

/* COLORS */
:root {
   --dr: #BF0426; /* rgba(191, 3, 38, 1) */
   --br: #F20505; /* rgba(242, 4, 4, 1) */
   --or: #F2B705; /* rgba(242, 183, 5, 1) */
   --wt: #F2F2F2; /* rgba(242, 242, 242, 1) */
   --bl: #323232; /* rgba(50, 50, 50, 1) */
}

html {
   background-color: var(--wt);
   font-size: 10px;
}

body {
   height: auto;
   min-height: 100vh;
   background-color: var(--bl);
}

h1, h2, h3 {
   font-family: 'Cabin', sans-serif;
   letter-spacing: 0.15rem;
   line-height: 1.25;
}

p, a {
   font-family: 'Aleo', serif;
   letter-spacing: 0.15rem;
   line-height: 1.5;
}

h1 {font-size: 4rem;}

h2 {font-size: 3rem;}

h3 {font-size: 2rem;}

a, p {font-size: 1.5rem;}

a {text-decoration: none;}

a:hover {text-decoration: none;}

button {
   font-family: 'Aleo', serif;
   font-size: 1.5rem;
   border: none;
}

/* DRUID - PAGE INTRO
--------------------------------------------------------------------------------------- */
/* BODY */
/* ------------------------------------------------------------------------------------ */
.full-width {
   max-width: 100vw;
   height: 100vh;
}

/* Photo Slides ------------------------ */
.photo-slide {
   width: 100%;
   height: 100vh;
   overflow: hidden;
   position: relative;
   margin: auto;
}

.mySlides img {
   object-fit: cover;
   object-position: top center;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}

.dot {
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

/* nav --------------------------------- */
.nav-intro {
   width: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 3fr auto;
   grid-template-rows: auto auto;
   grid-gap: 2rem;
   justify-items: center;
   position: absolute;
   top: 5rem;
   right: 5rem;
   border: none;
   margin-bottom: 2rem;
}

#logo {
   grid-area: 1 / 2 / 2 / 3;
   background-color: rgba(242, 242, 242, 0.85);
   padding: 2rem 1rem 2rem 2rem;
   border-radius: 1rem;
   box-shadow: 0 0 8px var(--wt);
}

#logo img {width: 25rem;}

.login-intro {
   font-size: 2rem;
   background-color: var(--br);
   color: var(--wt);
   align-self: center;
   grid-area: 2 / 2 / 3 / 3;
   padding: 1.5rem 3rem;
   border-radius: 1rem;
   box-shadow: 0 0 8px 4px var(--wt);
}

.login-intro:hover {
   background-color: var(--or);
   color: var(--dr);
   box-shadow: 0 0 8px 2px var(--bl);
   transition: ease-in-out 0.25s;
}

.slogan {
   background-color: var(--wt);
   width: auto;
   position: absolute;
   bottom: 3rem;
   left: 3rem;
   padding: 2rem;
   margin-right: 3rem;
   border-radius: 1rem;
}

.slogan h1 {
   color: var(--br);
   font-size: 4rem;
}

.slogan h3 {
   color: var(--bl);
   font-size: 2.5rem;
}

/* News -------------------------------- */
.news {
   background-color: var(--dr);
   color: var(--wt);
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5rem;
   text-align: center;
   padding: 5rem;
}

.news i {
   margin-bottom: 2rem;
}

.news h3 {
   margin-bottom: 2rem;
}

/* Facts ------------------------------- */
.full-width-facts {
   background-color: var(--wt);
   padding: 2rem 0;
}

.facts {
   background-color: var(--wt);
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 2rem;
   align-items: center;
   margin: 5rem;
}

.facts img {
   width: 100%;
   border-radius: 1rem;
}


/* FOOTER */
footer {
   background-color: var(--or);
   color: var(--bl);
   padding: 2rem;
}

.footer-col {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
   grid-gap: 2rem;
   width: 100%;
   margin: 0 auto;

}

.footer-col h3, .footer-col a {
   color: var(--bl);
   text-align: center;
   padding: 0.5rem;
   display: block;
}

.social {
   width: 100%;
   margin: 5rem auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 2rem;
   align-items: center;
}

.social i {
   color: var(--bl);
   text-align: center;
}

.logo-footer {
   text-align: center;
}

.logo-footer img {
   background-color: var(--wt);
   border-radius: 2rem;
   padding: 2rem 1rem 2rem 2rem;
   width: 20rem;
}

.rights {
   font-size: 1.25rem;
   text-align: center;
}

/* DRUID - MEDIA QUERIES */
/* ------------------------------------------------------------------------------------ */
@media (max-width: 576px) {
   .nav-intro {
      grid-template-columns: 1fr;
      right: 0;
   }

   #logo {
      grid-area: 1 / 1 / 1 / 1;
   }

   .login-intro {
      grid-area: 2 / 1 / 3 / 1;
   }

   .slogan {
      right: 3rem;
      margin-right: 0;
   }

   .news {
      grid-template-columns: none;
      grid-template-rows: auto auto;
   }

   .facts {
      grid-template-columns: none;
      grid-template-rows: auto auto;
      text-align: center;
   }

   .footer-col {
      grid-template-columns: none;
      grid-template-rows: auto auto auto;
      margin-bottom: 5rem;
   }
}

@media (max-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}


/* PARAISO
--------------------------------------------------------------------------------------- */
/* General classes and ids */
.button-red {
   text-align: center;
   align-self: center;
   background-color: var(--dr);
   color: var(--wt);
   max-width: 12rem;
   width: 12rem;
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 0 2px 5px var(--bl);
}

.button-red:hover {
   background-color: var(--br);
   color: var(--wt);
   transition: ease-in-out 0.5s;
}

.button-orange {
   text-align: center;
   align-self: center;
   background-color: var(--or);
   color: var(--bl);
   max-width: 12rem;
   width: 12rem;
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 0 2px 5px var(--bl);
}

.button-orange:hover {
   background-color: var(--dr);
   color: var(--wt);
   transition: ease-in-out 0.5s;
}

.container {
   width: 90%;
}


/* - main.handlebars
----------------------------------------------- */
.nav-main {
   background-color: var(--wt);
   width: 100%;
   margin: 0 auto;
   border-bottom: 0.5rem solid var(--or);
   padding: 2rem; 
   margin-bottom: 5rem;
}

.logo {
   max-width: 20rem;
}


/* login.handlebars and signup.handlebars
----------------------------------------------- */
.login-form {
   background-color: var(--wt);
   border-radius: 1rem;
   padding: 3rem;
   box-shadow: 0 0 12px 5px var(--or);
}

.login-form h2 {
   padding-bottom: 2rem;
}

.login-form input {
   font-family: 'Aleo', serif;
   font-size: 2rem;
   padding: 2rem;
}

.login-form .button-orange {
   width: 10rem;
   height: 5rem;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

.login-form p {
   margin-bottom: 0;
}


/* paraiso-comm-control.handlebars
----------------------------------------------- */
.comm-control h1, .comm-control h3 {
   text-align: center;
   color: var(--wt);
}

.comm-control .row {
   justify-items: center;
   background-color: var(--wt);
   width: 80%;
   margin: 0 auto;
   padding: 3rem;
   padding-bottom: 4rem;
   border-radius: 1rem;
   box-shadow: 0 0 12px 5px var(--or);
}

.comm-control h1 {
   margin-bottom: 3rem;
}

.comm-control h3 {
   margin-bottom: 5rem;
}

.comm-control .col {
   text-align: center;
}

.comm-control p {
   text-align: center;
   margin-bottom: 3rem;
}

.comm-control .button-orange {
   padding: 1rem 8rem;
}


/* view-menu.handlebars
----------------------------------------------- */
.view-menu h1 {
   color: var(--wt);
   margin-bottom: 3rem;
   text-align: center;
}

.view-menu thead {
   background-color: var(--dr);
   color: var(--wt);
}

.table-container {
   background-color: var(--wt);
   width: 90%;
   margin: 0 auto;
   padding: 3rem;
   border-radius: 1rem;
   box-shadow: 0 0 12px 5px var(--or);
}
table {
   background-color: var(--wt);
}

.table-title p {
   text-align: center;
   margin: 0;
   padding: 1rem;
}

.table-body p, .table-body a {
   font-size: 1.25rem;
   margin: 0;
   padding: 0.5rem;
   border-bottom: 1px solid var(--or);
}

.table-body i {
   text-align: center;
}


/* add-to-menu.handlebars
----------------------------------------------- */
.add-to-menu h1 {
   color: var(--wt);
   margin-bottom: 3rem;
   text-align: center;
}

.add-to-menu-form {
   background-color: var(--wt);
   width: 90%;
   margin: 0 auto;
   padding: 3rem;
   border-radius: 1rem;
   box-shadow: 0 0 12px 5px var(--or);
}

.add-to-menu-form input {
   font-family: 'Aleo', serif;
   font-size: 2rem;
   padding: 2rem;
   margin-bottom: 2rem;
}

.add-to-menu-form .button-orange {
   width: 10rem;
   height: 5rem;
   margin-top: 1rem;
}



/* MEDIA QUERIES */
/* ------------------------------------------------------------------------------------ */
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}


/* FONTS */
/*
font-family: 'Aleo', serif;
font-family: 'Cabin', sans-serif;
*/